* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  padding: 40px 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  margin-bottom: 1rem;
}

.long-paragraph {
  line-height: 1.5;
  margin-bottom: 1rem;
}

@media (min-width: map-get($breakpoints, 'sm')) {  
  .container {
    max-width: 540px;
  }
}

@media (min-width: map-get($breakpoints, 'md')) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: map-get($breakpoints, 'lg')) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: map-get($breakpoints, 'xl')) {
  .container {
    max-width: 1140px;
  }
}