$breakpoints: (
  "sm": 576px,
  "md": 768px,
  "lg": 960px,
  "xl": 1140px
);

$app-background: #0A0908;

$main-nav-background-color: #F2F4F3;
$main-nav-link-color: #A9927D;
$main-nav-link-color--hover: #0A0908;

$light-button-background: #F2F4F3;
$light-button-background--hover: #A9927D;

$light-button-text-color: #0A0908;
$light-button-text-color--hover: #F2F4F3;

$text-light-color: #F2F4F3;