<template>
  <div class="favorites page">
    <div class="container">
      <h1 class="header">Filmes favoritos</h1>
      <h2
        v-if="!favoriteMoviesCollection.length"
        class="header">Você não possui nenhum filme marcado como favorito.</h2>
      <MoviesCollectionDisplay
        v-else
        :collection="favoriteItemsToDisplay"
        :totalPages="favoriteTotalPages"
        :currentPage="currentPage"
        :paginationCallback="paginationCallback"/>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import MoviesCollectionDisplay from '@/components/MoviesCollectionDisplay.vue';

export default {
  name: 'Favorites',
  components: {
    MoviesCollectionDisplay,
  },
  data() {
    return {
      itemsPerPage: 20,
      currentPage: 1,
    };
  },
  computed: {
    ...mapState('movies', [
      'favoriteMovies',
    ]),
    favoriteMoviesCollection() {
      return Object.values(this.favoriteMovies);
    },
    favoriteItemsToDisplay() {
      return this.favoriteMoviesCollection.slice(0, this.itemsPerPage * this.currentPage);
    },
    favoriteTotalPages() {
      return Math.ceil(this.favoriteMoviesCollection.length / this.itemsPerPage);
    },
  },
  methods: {
    paginationCallback() {
      this.currentPage += 1;
    },
  },
};
</script>
