<template>
  <div class="home page">
    <div class="container">
      <h1 class="header">Lançamentos mais recentes</h1>
      <MoviesCollectionDisplay
        :collection="newestMovies"
        :totalPages="newestMoviesTotalPages"
        :currentPage="newestMoviesCurrentPage"
        :paginationCallback="paginationCallback"/>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import MoviesCollectionDisplay from '@/components/MoviesCollectionDisplay.vue';

export default {
  name: 'Home',
  components: {
    MoviesCollectionDisplay,
  },
  data() {
    return {
      isLoadingMovies: true,
    };
  },
  computed: {
    ...mapState('movies', [
      'newestMovies',
      'newestMoviesTotalPages',
      'newestMoviesCurrentPage',
    ]),
  },
  async beforeMount() {
    if (!this.newestMovies.length) {
      await this.loadNewestMovies();
    }
    this.isLoadingMovies = false;
  },
  methods: {
    ...mapActions({
      loadNewestMovies: 'movies/loadNewestMovies',
    }),
    paginationCallback() {
      this.loadNewestMovies(this.newestMoviesCurrentPage + 1);
    },
  },
};
</script>
