<template>
  <div class="movie-detail-page">
    <div class="container movie-detail-container">
      <template v-if="movieInfo">
        <div class="movie-poster-column">
          <div class="movie-poster-container">
            <MoviePoster
              :path="movieInfo.poster_path"
              size="medium" />
          </div>
        </div>
        <div class="movie-info-column">
          <h1 class="header">{{ movieInfo.title }}</h1>
          <div class="movie-info-bullets">
            <div class="movie-info-bullets__item">
              <span class="movie-info-bullets__item-title">Data de lançamento: </span>
              {{ formattedReleaseDate() }}
            </div>
            <div class="movie-info-bullets__item">
              <span class="movie-info-bullets__item-title">Filme adulto: </span>
              {{ movieInfo.adult ? 'Sim' : 'Não' }}
            </div>
          </div>
          <div>
            <h2 class="header">Sinopse do filme: </h2>
            <p class="long-paragraph">
              {{ movieInfo.overview || 'Este filme ainda não possui uma sinopse.' }}
            </p>
          </div>
          <FavoriteToggleButton :movieInfo="movieInfo" />
        </div>
      </template>
    </div>
  </div>
</template>

<script>
import Moment from 'moment';
import TMDB from '@/api/TMDB';
import MoviePoster from '@/components/MoviePoster.vue';
import FavoriteToggleButton from '@/components/FavoriteToggleButton.vue';

export default {
  name: 'MovieDetail',
  components: {
    MoviePoster,
    FavoriteToggleButton,
  },
  data() {
    return {
      isLoadingMovieData: true,
      movieInfo: null,
    };
  },
  beforeMount() {
    const { params } = this.$router.currentRoute;

    TMDB.fetchMovieDetails(params.movieId)
      .then((movieInfo) => {
        this.movieInfo = movieInfo;
      })
      .finally(() => {
        this.isLoadingMovieData = false;
      });
  },
  methods: {
    formattedReleaseDate() {
      return (new Moment(this.movieInfo.release_date)).format('DD/MM/YYYY');
    },
  },
};
</script>

<style lang="scss" scoped>
.movie-detail-page {
  padding-top: 40px;
  .movie-detail-container {
    display: flex;
    flex-direction: column;
  }
  .movie-info-column {
    padding: 0 1rem;
  }
  .movie-info-bullets {
    margin-bottom: 1rem;
    .movie-info-bullets__item {
      margin-bottom: .5rem;
      .movie-info-bullets__item-title {
        font-weight: 600;
      }
    }
  }
  .movie-poster-column {
    margin-bottom: 2rem;
    .movie-poster-container {
      position: relative;
      width: 240px;
      height: 320px;
      margin: 0 auto;
      background-color: #22333B;
    }
  }
}

@media (min-width: map-get($breakpoints, 'md')) {
  .movie-detail-page {
    .movie-detail-container {
      flex-direction: row;
    }
    .movie-info-column {
      width: 60%;
    }
    .movie-poster-column {
      width: 40%;
      margin-bottom: 0;
      .movie-poster-container {
        width: 100%;
        height: 420px;
        min-height: 420px;
        max-height: none;
      }
    }
  }
}

@media (min-width: map-get($breakpoints, 'lg')) {
  .movie-detail-page {
    .movie-info-column {
      width: 70%;
    }
    .movie-poster-column {
      width: 30%;
    }
  }
}

@media (min-width: map-get($breakpoints, 'xl')) {
  .movie-detail-page {
    .movie-poster-column {
      .movie-poster-container {
        width: 100%;
        height: 480px;
        min-height: 480px;
        max-height: none;
      }
    }
  }
}
</style>
