<template>
  <button
    class="favorite-button"
    :class="{'favorite-button--favorited': isFavorited}"
    @click="toggleFavoritedMovie"
    title="Favorito"></button>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'FavoriteToggleButton',
  props: {
    movieInfo: {
      required: true,
      type: Object,
    },
  },
  computed: {
    ...mapState('movies', ['favoriteMovies']),
    isFavorited() {
      return !!this.favoriteMovies[this.movieInfo.id];
    },
  },
  methods: {
    toggleFavoritedMovie() {
      if (this.isFavorited) {
        this.$store.dispatch('movies/removeFavoriteMovie', { movieId: this.movieInfo.id });
        return;
      }

      this.$store.dispatch('movies/addFavoriteMovie', {
        movieId: this.movieInfo.id,
        posterPath: this.movieInfo.poster_path,
        title: this.movieInfo.title,
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.favorite-button {
  appearance: none;
  width: 50px;
  height: 43px;
  border: none;
  background-color: transparent;
  background-image: url('~@/assets/icons/heart-outline.png');
  background-size: contain;
  background-repeat: no-repeat;
  &.favorite-button--favorited,
  &:hover {
    cursor: pointer;
    background-image: url('~@/assets/icons/heart-filled.png');
  }
}
</style>
