<template>
  <div id="nav">
    <nav class="container">
      <router-link :to="{ name: 'home' }">Início</router-link> |
      <router-link :to="{ name: 'favorites'}">Filmes favoritos</router-link>
    </nav>
  </div>
</template>

<script>
export default {
  name: 'MainNavBar',
};
</script>

<style lang="scss" scoped>
#nav {
  background-color: $main-nav-background-color;
  padding: 20px;
  a {
    font-weight: bold;
    text-decoration: none;
    color: $main-nav-link-color;
    &.router-link-exact-active {
      color: $main-nav-link-color--hover;
    }
  }
}
</style>
