<template>
  <div class="movie-collection-item">
    <div class="movie-collection-item__favorite-btn-wrapper">
      <FavoriteToggleButton :movieInfo="movie" />
    </div>
    <router-link
      class="movie-collection-item__link"
      :to="{
        name: 'movie-detail',
        params: { movieId: movie.id }
      }">
      <MoviePoster
        :path="movie.poster_path"
        size="small"/>
      <div class="movie-collection-item__info">
        <p>{{ movie.title }}</p>
      </div>
    </router-link>
  </div>
</template>

<script>
import MoviePoster from '@/components/MoviePoster.vue';
import FavoriteToggleButton from '@/components/FavoriteToggleButton.vue';

export default {
  name: 'MoviesCollectionDisplayItem',
  components: {
    MoviePoster,
    FavoriteToggleButton,
  },
  props: {
    movie: {
      required: true,
      type: Object,
    },
  },
};
</script>

<style lang="scss" scoped>
.movie-collection-item {
  position: relative;
  width: 220px;
  height: 320px;
  float: none;
  background-color: #22333B;
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  .movie-collection-item__favorite-btn-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 8px;
    background-color: rgba(0,0,0,.85);
  }
  .movie-collection-item__link {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    .movie-collection-item__info {
      opacity: 1;
      background-color: rgba(0,0,0,.85);
      color: #fff;
      line-height: 1.5;
      padding: .325rem .650rem;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      transition: opacity 200ms ease-in;
      box-sizing: border-box;
    }
  }
}

@media (min-width: map-get($breakpoints, 'sm')) {
  .movie-collection-item {
    float: left;
    min-width: auto;
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}
@media (min-width: map-get($breakpoints, 'md')) {
  .movie-collection-item {
    width: 30%;
    margin-left: 1.5%;
    margin-right: 1.5%;
  }
}
@media (min-width: map-get($breakpoints, 'lg')) {
  .movie-collection-item {
    width: 23%;
    margin-left: 1%;
    margin-right: 1%;
  }
}
@media (min-width: map-get($breakpoints, 'xl')) {
  .movie-collection-item {
    width: 18%;
    height: 320px;
    margin: 0 1% 20px;
    .movie-collection-item__link {
      .movie-collection-item__info {
        opacity: 0;
      }
    }
    &:hover {
      .movie-collection-item__link {
        .movie-collection-item__info {
          opacity: 1;
        }
      }
    }
  }
}
</style>
