<template>
  <div
    class="movie-poster"
    :class="{
      'no-poster': !path,
    }">
    <img
      class="movie-poster__image"
      :src="getMoviePosterUrl()"
      :alt="title">
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

const posterSizesMap = {
  small: 'w154',
  medium: 'w342',
  big: 'w780',
};

export default {
  name: 'MoviePoster',
  props: {
    path: {
      type: String,
    },
    title: {
      type: String,
    },
    size: {
      type: String,
      default: 'medium',
    },
  },
  computed: {
    ...mapGetters({
      imagesLocation: 'getAppImagesLocation',
      posterSizes: 'getPosterSizes',
    }),
  },
  methods: {
    getMoviePosterUrl() {
      if (!this.path) {
        return '/default-movie-poster.png';
      }

      return `${this.imagesLocation}${this.posterSizes[posterSizesMap[this.size]] || 'original'}${this.path}`;
    },
  },
};
</script>

<style lang="scss" scoped>
.movie-poster {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  &.no-poster {
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    transform: translate(-50%, -50%);
  }
  .movie-poster__image {
    width: 100%;
    height: 100%;
  }
}
</style>
