<template>
  <div>
    <div class="movies-container">
      <MoviesCollectionDisplayItem
        v-for="(movie, index) in collection"
        v-bind:key="index"
        :movie="movie" />
    </div>
    <button
      v-if="totalPages > 1 && currentPage < totalPages"
      class="load-more-button"
      @click="paginationCallback">
      Carregar mais itens
    </button>
  </div>
</template>

<script>
import MoviesCollectionDisplayItem from '@/components/MoviesCollectionDisplayItem.vue';

export default {
  name: 'MoviesCollectionDisplay',
  components: {
    MoviesCollectionDisplayItem,
  },
  props: {
    collection: {
      required: true,
      type: Array,
    },
    currentPage: {
      required: true,
      type: Number,
    },
    totalPages: {
      required: true,
      type: Number,
    },
    paginationCallback: {
      type: Function,
      default: () => {},
    },
  },
};
</script>

<style lang="scss" scoped>
.movies-container {
  margin: 0 auto;
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

.load-more-button {
  width: 100%;
  height: 40px;
  background-color: $light-button-background;
  color: $light-button-text-color;
  text-align: center;
  border: none;
  border-radius: .25rem;
  font-size: 1rem;
  font-weight: 600;
  &:hover {
    cursor: pointer;
    background-color: $light-button-background--hover;
    color: $light-button-text-color--hover;
  }
}
</style>
