<template>
  <div class="spinner-loader"></div>
</template>

<script>
export default {
  name: 'SpinnerLoader',
};
</script>

<style>
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner-loader {
  width: 60px;
  height: 60px;
  border-style: solid;
  border-width: 4px;
  border-radius: 100%;
  border-color: #181715 #f2f4f3 #181715 #f2f4f3;
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
</style>
