<template>
  <div id="app">
    <MainNavBar />
    <div
      v-if="appConfigLoaded === null"
      class="app-loader-container">
      <SpinnerLoader />
    </div>
    <router-view v-else />
    <button
      id="button-to-top"
      ref="button-to-top"
      @click="goToTop">Topo</button>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import MainNavBar from '@/components/MainNavBar.vue';
import SpinnerLoader from '@/components/SpinnerLoader.vue';

/* eslint-disable */
function _throttle(fn, time, scope){
  var lastExecution = new Date((new Date()).getTime() - time);
  scope = scope || this;

  return function(){
    if ((lastExecution.getTime() + time) <= (new Date()).getTime()) {
      lastExecution = new Date();
      return fn.apply(scope, arguments);
    }
  };
}
/* eslint-enable */

export default {
  name: 'AppMain',
  components: {
    MainNavBar,
    SpinnerLoader,
  },
  computed: {
    ...mapState(['appConfigLoaded']),
  },
  beforeMount() {
    this.$store.dispatch('loadAppConfig');
    this.$store.dispatch('movies/loadFavoriteMovies');
  },
  mounted() {
    window.addEventListener('scroll', _throttle(() => {
      if (window.pageYOffset > 100) {
        this.$refs['button-to-top'].classList.add('visible');
        return;
      }

      this.$refs['button-to-top'].classList.remove('visible');
    }, 25));
  },
  methods: {
    goToTop() {
      window.scrollTo(0, 0);
    },
  },
};
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-light-color;
  background-color: $app-background;
  min-height: 100vh;
  #button-to-top {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: -50px;
    right: 10px;
    opacity: 0;
    cursor: pointer;
    transition: all 300ms ease-in;
    &.visible {
      opacity: 1;
      bottom: 10px;
    }
  }
  .app-loader-container {
    padding-top: 40px;
    display: flex;
    justify-content: center;
  }
}
</style>
